.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  width: 300%;
  padding: 0;
  margin: -10px;
  animation: changeSlide 11s 1;
  animation-fill-mode: forwards;
}

.slider li{
  list-style: none;
  width: 100%;
  background: green;
  height: 1050px;
}

/*.slider img{

}*/

#large-screen{
  width: 100%;
  margin-top: -150px;
height: 100%;
}

@keyframes changeSlide {
  0% {margin-left: 0;}
  30% {margin-left: 0;}

  35% {margin-left: -100%;}
  65% {margin-left: -100%;}

  70% {margin-left: -200%;}
  100% {margin-left: -200%;}
}

@media screen and (max-width: 1000px) {
  #large-screen {
    /*display: none;*/
height: 100%;
  }
.slider li {
/*//background-image:url('../../Images/grass-background.jpg');*/
height: 720px;
}
.slider ul{
margin-top: 100px;
}
}
