.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  width: 300%;
  padding: 0;
  margin: -10px;
  animation: changeSlide 11s 1;
  animation-fill-mode: forwards;
}

.slider li{
  list-style: none;
  width: 100%;
  background: red;
  height: 1050px;
}

#large-screen1{
  width: 100%;
  margin-top: -150px;
height: 100%;
}

#large-screen2{
  width: 100%;
  margin-top: -150px;
height: 100%;
}

#li1 {
background-image:url('../../Images/Image6.jpg');
background-size: cover;
background-position: center;
margin-top: -100px;
width: 100%;
}

#li2 {
background-image:url('../../Images/Image4.jpeg');
background-size: cover;
background-position: center;
margin-top: -100px;
width: 100%;
}

#li3 {
background-image:url('../../Images/Image5.jpg');
background-size: cover;
background-position: center;
margin-top: -100px;
width: 100%;
}

@keyframes changeSlide {
  0% {margin-left: 0;}
  30% {margin-left: 0;}

  35% {margin-left: -100%;}
  65% {margin-left: -100%;}

  70% {margin-left: -200%;}
  100% {margin-left: -200%;}
}

@media screen and (max-width: 1000px) {


.slider ul{
margin-top: 100px;
}
}

@media screen and (max-width: 750px) {

.slider ul{
margin-top: 100px;
}
}
