.slider {
  width: 100%;
  margin: auto;
  border: 2px solid red;
  overflow: hidden;
}

.slider ul{
  display: flex;
  width: 300%;
  padding: 0;
  margin: -10px;

}

.slider li{
  list-style: none;
  width: 100%;
  animation: changeSlide 9s 1;
  animation-fill-mode: forwards;
}

.slider img{
  width: 100%;
}

@keyframes changeSlide {
  0% {margin-left: 0;}
  30% {margin-left: 0;}

  35% {margin-left: -100%;}
  75% {margin-left: -100%;}

  80% {margin-left: -200%;}
  100% {margin-left: -200%;}

}
