.match-card-container{
display: flex;
flex-direction: column;
background: white;
width: 48%;
margin: 10px;
}

.date-container{
width: 100%;
padding: 10px;
color: blue;
text-align: center;
font-size: 20px;

}

.teams-container{
width: 100%;
padding: 10px;
color: blue;
text-align: center;
font-size: 30px;
}

.scores-container{
width: 100%;
padding: 10px;
color: blue;
text-align: center;
font-size: 25px;
}

#next-match-typo{
font-weight: bold;
color: red;
}
