.select-container{
width: 100%;
background: none;
}

select{
font-size: 20px;
background: #228B22;
color: #fff;
transition: all 1s ease;
}

select:hover{
background: #fff;
color: #228B22;
cursor: pointer;
}
